body{
background-color:white;
font-family:Arial;
margin: 0;
}

.box{
border:2px solid black;
width:90%;
margin:auto;
margin-top:20px;
padding:20px;
background-color:black;
}

.heading{
background-color :white;
text-align:center;
padding:15px;
}

.highlight{
color:red;
}

nav{
margin-top:15px;
margin-left:15px;
}

nav a{
text-decoration:none;
background-color:yellow;
padding:6px 18px;
margin-right:10px;
border-radius:3px;
display:inline-block;
color:black;
}

.subnav a{
background-color:red;
}
.full{
width:100%;
height:auto;
object-fit:cover;
margin-top:20px;
}