body{
background-color:dimgray;
color:white;
font-family:Arial;
}

.heading{
background-color:white;
color:black;
text-align:center;
padding:20px;
}

.box{
border:2px solid black;
width:500px;
padding:15px;
margin:auto;
margin-top:20px;
text-align:center;
background-color:white;
}

.oldprice{
text-decoration:line-through;
color:gray;
}

.btn{
background-color:black;
color:white;
border:none;
width:250px;
height:40px;
font-size:18px;
}

img{
border:2px solid black;
}

.productname{
color:black;
}

.info{
color:black;
}

.newprice{
color:black;
}
